@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

h1{
    text-align: center;
    color: black;
}

/* tag */
li{
    color: purple;
}

/* id */
#li1{
    color: rgb(255, 0, 0);
}

/* class */
.li2{
    color: rgb(55, 255, 0);
}

/* universal */
*{
    color: blue;
}

/* pseudo */
li:nth-child(4){
    color: rgb(0, 115, 255);
}


.flex-box{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    /* overflow: hidden; */
    height: 300px;
}

div{
    border: 2px solid black;
    height: fit-content;
}
